<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="OldestDayFromToday" value="1295" />
		<add key="RedundantPointHistory" value="false"/>

		<!-- Configuración del log -->
		<add key="LogPath" value="Logs" />
		<add key="LogMaxDays" value="15" />
		<add key="TzEXCEPTION" value="1" />
		<add key="TzERROR" value="1" />
		<add key="TzINFORMATION" value="1" />
		<add key="TzSQL" value="0" />
		<add key="TzDEBUG" value="0" />
	</appSettings>
	<connectionStrings>
		<add name="PointsHistory" connectionString="Server=MAD5509; Database=PointsHistory_MADPWEBI500; Integrated Security=true;" />
		<add name="EBI_ODBC" connectionString="DSN=EBIDatasource; RedundantLAN=0; RedundantCPU=0;" />
		<add name="EBI_SQL" connectionString="Server=(local); Database=master; Integrated Security=true;" />
	</connectionStrings>
</configuration>