<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ProcessPnt" value="C:\Proyectos\HistoryExportCmd\ProcessPnt.exe"/>
    <!-- Configuración del log -->
    <add key="LogPath" value="Logs"/>
    <add key="LogMaxDays" value="15"/>
    <add key="TzEXCEPTION" value="1"/>
    <add key="TzINFORMATION" value="1"/>
    <add key="TzSQL" value="1"/>
  </appSettings>
  <connectionStrings>
    <add name="PointsHistory" connectionString="Server=(local); Database=PointsHistory; Integrated Security=true;"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <identity impersonate="false" userName="mngr" password="mngr"/>
  </system.web>
</configuration>